body {
    background: silver;
    text-align: center;
}

input[type=image]{
    width: 150px;
    height: 150px;
}

input[type=image]:focus{
    width: 500px;
    height: 500px;
}

.gallery {
    width: 100%;
}

