{% extends 'index.jinja2' %}

{% block content %}
    {% for photo in photos %}
        {% if photo.image %}
            <form method="POST">
                {% csrf_token %}
                <input type="image" src="{{ photo.image.url }}" height="100" width="100"><br/>
                <input type="hidden" value="{{ photo.image.path }}" name="photo">
                <input type="submit" value="Delete">
            </form>
        {% endif %}
    {% endfor %}
{% endblock %}