{% extends 'index.jinja2' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <input type="file" name="photo">
        <input type="submit" value="Upload">
    </form>
{% endblock %}